body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a2540;
    padding: 20px 40px;
    position: relative;
    z-index: 10;
}

.logo {
    color: white;
    font-size:40px;
    font-weight: bold;
}
img{
    width: 30px;
    height: 30px;
}

.hamburger {
    width: 30px;
    cursor: pointer;
}
.nav-btn:hover {
background: #e0e0e027;
}

.hamburger div {
    width: 100%;
    height: 4px;
    background: #c0c0c0;
    margin: 5px 0;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.cart-img {
    width: 30px;
    height: 30px;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background: white;
    color: #3a3a3a;
    position: fixed;
    top: 0;
    left: -250px;
    padding-top: 60px;
    transition: 0.3s ease;
    z-index: 5;
}

#sidebar a {
    display: block;
    padding: 15px 25px;
    color: #3a3a3a;
    font-size: 18px;
    text-decoration: none;
}

#sidebar a:hover {
    background: #0a2540;
    color: white;
}
.hero {
background: url('https://via.placeholder.com/1200x400?text=Fresh+Mart') no-repeat center center/cover;
height: 350px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
text-align: center;
color: white;
}

.hero::after {
content: '';
position: absolute;
top:0; left:0;
width: 100%; height: 100%;
background: rgba(0,0,0,0.3);
}

.hero-text {
position: relative;
}

.hero-text h1 {
font-size: 36px;
margin-bottom: 10px;
}

.hero-text p {
font-size: 18px;
margin-bottom: 20px;
}

.btn {
background: #FF6F61;
color: white;
padding: 10px 20px;
text-decoration: none;
border-radius: 6px;
font-weight: 600;
transition: 0.3s;
}

.btn:hover {
background: #e6554c;
}

/* CATEGORIES */
.categories {
padding: 40px 20px;
text-align: center;
background-color: #c0c0c0;
}

.categories h2 {
margin-bottom: 38px;
font-size: 28px;
color: #333;
}

.category-grid {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}

.category-card {
background: white;
width: 180px;
border-radius: 12px;
padding: 10px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
transition: transform 0.3s;
cursor: pointer;
text-decoration: none;
}

.category-card:hover {
transform: translateY(-5px);
}

.category-card img {
width: 100%;
border-radius: 10px;
}

.category-card h3 {
margin-top: 10px;
font-size: 16px;
}
.category-card a{
    color: black;
    text-decoration: none;
}

/* PRODUCTS */
.products {
padding: 40px 20px;
text-align: center;
}

.products h2 {
margin-bottom: 25px;
font-size: 28px;
color: #333;
}

.product-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

.card {
background: white;
width: 220px;
padding: 15px;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
transition: transform 0.3s;
text-align: center;

}

.card:hover {
transform: translateY(-5px);
}

.card img {
width: 100%;
border-radius: 10px;
}

.card h3 {
margin: 10px 0 5px;
font-size: 16px;
}

.card p {
font-size: 14px;
color: #555;
}

.card button {
background: #2874F0;
color: white;
padding: 8px 12px;
border: none;
border-radius: 6px;
cursor: pointer;
margin-top: 5px;
font-weight: 600;
}

.card button:hover {
background: #0059c1;
}

/* FOOTER */
footer {
background: #0a2540;
color: white;
padding: 20px;
text-align: center;
}

footer a {
color: #FFD700;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}